#signup {
  background-color: blue;
}
.login1 {
  background-color: burlywood;
}
.body {
  background-color: blueviolet;
}
.footer {
  background-color: aqua;
}
.header {
  background-color: blanchedalmond;
}
